body div{
 margin: 0px auto !important;
 padding: 0px;
 /* background-color: black !important; */
}

@font-face {
  font-family: myFirstFont;
  src: url(fonts/PepsiOwners2-Extended220909.ttf);
}
.mynav .navbar{
        background-color: rgba(0, 0, 0) !important;
}
.navbar-brand > img {
    width: 50px;
}


.offcanvas-body {
    overflow: auto !important;
    
}


.offcanvas.show:not(.hiding), .offcanvas.showing {
    transform: none;
    width: 50%;
    background-color: rgb(0 37 255) !important;
    text-align: center;
    font-family: myFirstFont !important;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    border-radius: 69px 0px 0px 69px;
    padding-left: 20px;
    padding-right: 20px;
}

#offcanvasDarkNavbarLabel {
    padding-top: 10px;
    margin: 0px auto;
    z-index: 1000 !important;
}
svg{
    padding-left: 8px;
    vertical-align: middle;
    width: 50px;
}


.banner{
    display: flex;
    background-color: black !important;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.bn-img{
    padding-left: 2.5rem;
    padding-right: 5rem;
    justify-content: center;
    align-items: center;
    position: relative;

}
.heading{
    width: 50%;
}
.heading > h1{
    font-family: PepsiOwner, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 0.5;
    color: rgb(0 37 255);
    text-align: center;
    font-family: myFirstFont;
    font-size: 60px;
    margin-bottom:  0px;
}

span{
    font-family: PepsiOwner, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: white;
    font-family: myFirstFont;
}

.heading > h2{
    font-family: PepsiOwner, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    color: white;
    font-family: myFirstFont;
    text-align: center;
    padding-top: 60px;
}
.heading svg{
margin: 0px auto;
}
.container{
    margin: 0px auto !important;
    max-width: 1360px !important; 
    background-color: black !important;
    
}
.slider-div{
  background-image: url(slider/slider-bg.png);
  height: 700px; /* You must set a specified height */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  
}

.carousel-inner{
    padding-top: 150px;
}
.carousel-item{
    /* aspect-ratio: 1 / 1 !important;  */
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    align-items: center;
    position: relative !important;
    /* display: none;
    float: left;
        /* margin-right: -100%; */
    /* -webkit-backface-visibility: hidden; */
    /* backface-visibility: hidden; */
    width:100% !important;
    transition: transform .6s ease-in-out;
}
.para > p{
text-align: left;
color: white;
font-weight: bolder;
}

.pepsi-btn{
    font-family: myFirstFont !important;
    border-radius: 40px !important;
    color: white;
    font-weight: 500;
    text-align: center;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    background-color: rgb(0 37 255) !important;
}
.para > a{
text-align: left;
color: white;
font-size: 16px !important;
}

.vidban{
    position: relative;
    margin-top: 0px;
    padding-top: 0px;
}
#ban-btn{
position: absolute !important;
left: 50%;
/* vertical-align: middle !important; */
bottom: 10%;
font-family: myFirstFont !important;
    border-radius: 40px !important;
    color: white;
    font-weight: 500;
    text-align: center;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    background-color: rgb(0 37 255) !important;
}
.div-bn{
    background-color: black;
    width: 100%;
    /* height: 700px; */
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    vertical-align: middle !important;
    padding: 70px !important;
}
.div-bn > h1{
    font-family: myFirstFont !important;
    font-weight: 700;
    font-size: 50px;
    color: white;
}
.div-bn > h2{
    font-family: myFirstFont !important;
    font-weight: 700;
    font-size: 113px;
    color:  rgb(0 37 255);
    line-height: 1;
}
.carousel2{
    background-color: black;
}

footer{
    background-color: rgb(0 37 255);
}